<%= javascript_include_tag 'd3' %>
<%= javascript_include_tag 'cal-heatmap' %>

<div id="cal-heatmap"></div>
<script type="text/javascript">
    var cal = new CalHeatMap();
    cal.init({});
</script>