<%= render 'dashboard/shared/form_sales' %>
<% puts @data.inspect %>
<% if false 
# @data[0][:data].empty? %>
    <h3>Elements not found.</h3>
<%else%>

        <% if params[:filter_type] %>
            <%= line_chart @data, library: {chart:{zoomType:'x'} } %>
        <% else %>
            <%= line_chart @data, library: {tooltip:{enabled:false},chart:{zoomType:'x'} } %>
        <% end %>

	<%= render 'dashboard/shared/data_table', data: @main_data %>

<%end%>