<%# add navigation links to this file %>
<li role="presentation" class="dropdown-header">Date Range</li>
<% controller = params[:controller] %>
<% action = params[:action] %>
<% %w(today yesterday last_week last_month year_to_date).each do |date_range| %> 
	<li>
	  <%=link_to({:controller => controller,:action => action,:date_range => date_range}) do %>
	      <span class="text"><%= date_range.humanize %></span>
	  <% end %>
	</li>
 <% end %>

<li data-toggle="modal" data-target="#custom_range_data">
	<a href="#myModal" data-toggle="modal">
		<span class="text">Custom Range</span>
	</a>
</li>

<li role="presentation" class="divider"></li>
<li role="presentation" class="dropdown-header">Compare To</li>
<li>
  <%=link_to({:controller => controller,:action => action,:date_range => :previous_period}) do %>
      <span class="text">Previous Period</span>
  <% end %>
</li>
<li>
  <%=link_to({:controller => controller,:action => action,:date_range => :previous_year}) do %>
      <span class="text">Previous Year</span>
  <% end %>
</li>
<li data-toggle="modal" data-target="#custom_range_compare">
	<a href="#myModal" data-toggle="modal">
		<span class="text">Custom Range</span>
	</a>
</li>



